* {
    box-sizing: content-box;
}
body {
    margin: 0;
}
nav {
    width: 100%;
}
nav div {
    width: 50%;
    float: left;
    background-color: lightblue;
}
nav li {
    display: inline-block;
    padding: 2em;
    padding-bottom: 0;
    font-size: 1em;
}
.menu-left {
    text-align: left;
}
.menu-right {
    text-align: right;
}
div ul {
    margin: 0;
    padding: 0;
}
div li a {
    text-decoration: none;
    color: #fff;
} 