* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    width: 100vw;
    padding-bottom: 120px;
    position: relative;
}
.menu {
    width: 50vw;
    float: left;
    background-color: lightblue;
}
.menu-left::after,
.menu-right::after {
    content: "";
    position: absolute;
    width: 0;
	height: 0;
    border-top: 50px solid lightblue;
}
.menu-left::after {
    left: 0;
    border-right: 50vw solid transparent;
}
.menu-right::after {
    right: 0;
    border-left: 50vw solid transparent;
}
nav li {
    display: inline-block;
    padding: 5%;
    padding-bottom: 0;
    font-size: 1em;
}
.menu-left {
    text-align: left;
}
.menu-right {
    text-align: right;
}
div ul {
    margin: 0;
 }
div li a {
    text-decoration: none;
    color: #fff;
} 
.content {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}